
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<input type="text" placeholder="Enter Your Username" /><br/><br />
<input type="password" placeholder="Enter Your Password"/><br/>
<br/>
<br/>
<button>Submit</button>
<button>Reset</button>

